body{
    background-color: #ffbf00;
}

#signUpButton,
#linkToLogIn,
#linkToFavs{
    color:white;
    text-decoration: none;
}
#emailHelp{
    color: white;
}

label{
    color:white;
}

#signUpJumbotron{
    background-color: blueviolet;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTitle{
    font-family: 'Chicle', cursive;
    font-size: 6rem;
    color: white;
}

.lead{
    color: white;
    font-weight: 400;
}

#youTubeArea{
    background-color: red;
    /* max-width: 1200px; */
    /* overflow-x: scroll; */
    overflow-y: hidden;
    /* white-space: nowrap; */
    position: relative;
}

#player {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

#giphyArea{
    background-color: black;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
}

h2{
    color: white;
}

/* Netflixy Slideshow */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}